.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.leaderboard-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #3f2469;
  padding: 10px;
  /*border-radius: 10px;*/
  width: 400px;
  margin: 10px 0;
  font-size: x-large;

  /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);*/
}

.dog-place {
  font-weight: bold;
  margin-right: 20px;
  color: gold;
  min-width: 15px;
  /*background: #802ad9;*/
}

.dog-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.dog-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dog-name {
  color: white;
  background: #8451d3;
  padding: 10px;
  /*border-radius: 5px;*/
  width: 100%
}

.dog-score {
  background: #6d36bc;
  padding: 10px;
  padding-left: 15px;
  /*border-radius: 5px;*/
  min-width: 50px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
