.leaderboard-container {

}

.leaderboard-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #452080;
  padding: 10px;
  /*border-radius: 10px;*/
  width: 450px;
  margin: 10px 0;
  font-size: x-large;

  /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);*/
}

.dog-place {
  font-weight: bold;
  margin-right: 20px;
  color: gold;
  min-width: 15px;
  /*background: #802ad9;*/
}

.dog-icon {
  width: 80px; /* Crop width */
  height: 80px; /* Crop height */
  object-fit: cover;
  object-position: 0 0; /* Crops from (0,0) */
  border-radius: 50%; /* Keeps it circular */
}

.dog-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dog-name {
  color: white;
  background: #8451d3;
  padding: 10px;
  /*border-radius: 5px;*/
  width: 100%
}

.dog-score {
  background: #6d32d0;
  padding: 10px;
  padding-left: 15px;
  /*border-radius: 5px;*/
  min-width: 70px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.medal-icon {
  width: 23px;
  margin-left: 10px;
}

.non-medal-icon {
  min-width: 23px;
  margin-left: 10px;
}
