<cdk-virtual-scroll-viewport (scrolledIndexChange)="onScroll($event)" class="leaderboard-container" itemSize="80">
  <!--  &lt;!&ndash; Show the spinner while loading &ndash;&gt;-->
  <!--  <div *ngIf="loading" class="spinner"></div>-->

  <!--  <div *ngIf="!loading">-->
  <div *cdkVirtualFor="let dog of leaderboardEntries" class="leaderboard-item">
    <div class="dog-place">{{ dog.place }}</div>
    <img alt="dog icon" class="dog-icon"
         src="https://alphadog-public-prod.s3.ap-southeast-2.amazonaws.com/{{ dog.id }}.png"/>
    <div class="dog-name">{{ dog.name }}</div>
    <div class="dog-score">{{ dog.score }}</div>
    <img *ngIf="getMedal(dog.place)"
         [src]="getMedal(dog.place)"
         class="medal-icon"/>
    <div *ngIf="!getMedal(dog.place)" class="non-medal-icon"></div>
  </div>
  <!--  </div>-->
</cdk-virtual-scroll-viewport>
