.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #3e246a;
  color: white;
}

.logo {
  height: 100px;
}

.logo-right {
  width: 100px;
}

.title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: xx-large;
}


.footer {
  background: #3e246a;
  color: white;
  text-align: right;
}

app-leaderboard {
  display: flex;
  justify-content: space-evenly;
}

