.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #3e246a;
  color: white;
}

.logo {
  height: 100px;
}

.logo-right {
  width: 100px;
}
@media (max-width: 900px) {
  .title {
    font-size: x-large;
  }
}

@media (min-width: 900px) {
  .title {
    font-size: xx-large;
  }
}
.title {
  flex-grow: 1;
  text-align: center;
  margin: 0;

}


.footer {
  background: #3e246a;
  color: white;
  text-align: right;
}

.content {
}

app-leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
